body {
  margin: 0;
  font-family: -apple-system, 'Roboto', BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 60px;
  background-color: #383e56;
  color: #d4b5b0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
form {
  width: 50%;
}
input {
  padding: 7px 1rem;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: gray;
}
input:focus-visible {
  outline: none;
}
button {
  margin: 1.5rem;
  padding: 7px 1.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #383e56;
  font-weight: 700;
  /* background-color: #f69e7b; */
}

button:active {
  transform: translate(1px);
}
